@{
    ViewBag.Title = "About My Friends Around";
}

<h2>About this site</h2>
<p>
     My Friend Around website aims to show users map geolocation.<br />
     It is a proof of concept sample used in Windows Phone 7 integration presentation.

</p>
